<div class="card mt-3 ">
    <div class="card-header ">
        <i class="fas fa-table mr-1"></i>
        <button  (click)="createProject()" type="button" class="btn btn-success "><i class="bi bi-plus"></i>Add Project</button>
        <div class="input-group w-25 float-right">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">search</button>
          </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-secondary" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="bg-primary first ">
                        <th>Project</th>
                        <th>Category</th>
                        <th>Responsible</th>
                        <th>Duration</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of projectsList">
                        <td><a routerLink="view-project/{{i.id}}">{{i.projectName}}</a></td>
                        <td>{{i.category}}</td>
                        <td>{{i.assigned}}</td>
                        <td>{{i.duration}}</td>
                        <td>{{i.startDate}}</td>
                        <td>{{i.endDate}}</td>
                        <td>
                            <i class="bi bi-pencil-square edit" (click)="updateProject(i.id)"></i>
                            <i class="bi bi-trash trash" (click)="deleteProject(i.id)"></i>
                        </td>                      
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
