<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <button type="button" class="btn btn-success"><i class="bi bi-plus"></i>Add Project</button>
        <div class="input-group w-25 float-right">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">search</button>
          </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-secondary" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="bg-primary first ">
                        <th>Project</th>
                        <th>Category</th>
                        <th>Responsible</th>
                        <th>Duration</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Project1</td>
                        <td>Comercial</td>
                        <td>Arturas</td>
                        <td>60 days</td>
                        <td>date</td>
                        <td>date</td>
                        <td>Learum cum adipisci.</td>
                        
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
