<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
             <h4><b>{{projectName}}</b> tasks list</h4>
                <input type="text" class="form-control add-todo" placeholder="Add todo">
                    <button id="checkAll" class="btn btn-success">Mark all as done</button>
                    
                    <hr>
                    <ul id="sortable" class="list-unstyled" *ngFor="let i of tasksList">
                    <li class="ui-state-default" *ngIf="i.projectId==projectId">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" /> {{i.description}}</label>
                        </div>
                    </li>
                   
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="todolist">
             <h1>Already Done</h1>
                <ul id="done-items" class="list-unstyled">
                    <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>