
<div class="container-fluid border rounded ">
    <div class="row pb-2">
        <!--Task list Header--> 
        <div class="col-md-7 pr-0 bg mb-0 rounded mr-0 pr-3 border">
                <div class="col ">
                    <div class=" h1  text-success text-center mx-auto display-inline-block ">
                        <i class="bi bi-check2-square  text-green rounded "></i>
                        <u class="h2">Project Todo-s</u>
                    </div>
                </div><!--/ Task list Header /-->
                <!--Add Task Input Forum-->
                <div class="row ">
                    <div class="col">
                        <div class="forum-group">
                            <form #addTaskForum="ngForm" (keyup.enter)="addTask(addTaskForum)" novalidate>
                                <div class="input-group mb-2">
                                    <input name="task_description" class="form-control rounded pl-4" ngModel required #task_description="ngModel" placeholder="New task">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success fw" type="button" (click)="addTask(addTaskForum)">add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div><!--/ Add Task Input Forum /-->
                
                <!--Task List body-->
                <div class="row mr-0 ml-0">
                    <div class="col rounded border pl-0 pr-0">
                        <ul class="list-group  list-group-flush bo">
                            <li [ngStyle]="{'background-color':i.color}" class="list-group-item list-group-item-action list-group-item-secondary d-flex border " *ngFor="let i of tasksList | paginate:{itemsPerPage: tableSize,currentPage: page,totalItems: count};
                            let j = index "[class.active]="j == currentIndex">
                                <div class="form-check mr-auto">
                                    <input class="form-check-input margin" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                    <h6 class="">{{i.description}}</h6>
                                    </label>
                                </div>
                                <div class="dropdown">
                                    <i class="bi bi-palette dropletbg " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="row dropdown-menu p-0">
                                        <i type="button" class=" bi bi-square-fill m-1 p-0"[style.Color]="colors.green" (click)="changeTaskcolor(i.id,colors.green,i.description)"></i>
                                        <i type="button" class=" col bi bi-square-fill m-1 p-0" [style.Color]="colors.red "(click)="changeTaskcolor(i.id,colors.red,i.description)"></i>
                                        <i type="button" class=" col bi bi-square-fill m-1 p-0" [style.Color]="colors.blue"(click)="changeTaskcolor(i.id,colors.blue,i.description)"></i>
                                        <i type="button" class=" col bi bi-square-fill m-1 p-0" [style.Color]="colors.yellow"(click)="changeTaskcolor(i.id,colors.yellow,i.description)"></i>
                                        <i type="button" class=" col bi bi-square-fill m-1 p-0" [style.Color]="colors.grey"(click)="changeTaskcolor(i.id,colors.grey,i.description)"></i>
                                        </div>
                                    <i class="bi bi-x-square trash" (click)="deleteTask(i.id)"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> <!--/ Task List body /-->
                <div class="row">
                    <div class="col-auto mt-1">
                        <select (change)="onTableSizeChange($event)" class="custom-select">
                            <option class="p-0 m-0" *ngFor="let size of tableSizes" [ngValue]="size">
                                {{ size }}
                            </option>
                        </select>
                    </div>
                    <div class="col-auto ml-auto mt-2">
                        <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                    </div>
                </div>
            </div> <!--/ Task List body wrapper /-->

        <!-- Project Information Tables-->
        <div class="col">
            <ng-container *ngFor="let i of projectsList">  
                <div class="row list-project " *ngIf="i.id==projectId">
                    <div class="col mt-2 padding">
                        <div class="project-info-box mt-0 border">
                            <h5 class="text-info text-monospace fw">{{i.projectName}}</h5>
                            <hr>
                            <p class="text-monospace text-size">{{i.description}}</p>
                        </div>
                        <div class="project-info-box border ">
                            <p><b>Assigned peoples:</b> {{i.peoples}} </p>
                            <p><b>Start Date:</b> {{(i.startDate)}}</p>
                            <p><b>Status:</b> {{i.status}} </p>
                            <p><b>Done:</b> {{i.progress}} </p>
                            <p><b>End Date:</b> {{(i.endDate)}}</p>
                        </div>
                        <a href="update-project/{{projectDetails.id}}" class="btn btn-primary d-block"> Update</a>
                    </div>
                </div>
            </ng-container>
        </div><!--/ Project Information Tables /-->
    </div><!--/ Task List Row Wrapper /-->
</div> <!--/ container /-->