<div class="container-fluid " *ngFor="let i of projectsList">
    <div class="row list-project  " *ngIf="i.id==projectId">
        <div class="col-md-7 mt-4">
            <img src="https://via.placeholder.com/400x300/FFB6C1/000000" alt="project-image" class="rounded tablet-top">
        </div>
  
        <div class="col-md-5 mt-4">
            <div class="project-info-box mt-0">
                <h5>{{i.projectName}}</h5>
                <p>{{i.description}}</p>
            </div>
        
            <div class="project-info-box mb-10">
                <p><b>Category:</b> {{i.category}} </p>
                <p><b>Start Date:</b> {{i.startDate}}</p>
                <p><b>End Date:</b> {{i.endDate}}</p>
                <p><b>Duration:</b> {{i.duration}}</p>
                <p><b>Peoples Assigned:</b> {{i.assigned}}</p>
                
            </div>
            <a href="projects/update-project/{{projectDetails.id}}" class="btn btn-primary d-block"> Update</a>
        </div>
      
    </div>
</div>


<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done" >
                <ng-container *ngFor="let i of projectsList" >
                    <h4 *ngIf="i.id==projectId"> </h4>
                </ng-container>
                <input type="text" class="form-control add-todo" placeholder="Add todo">
                    <button id="checkAll" class="btn btn-success">Mark all as done</button>
                    
                    <hr>
                    <ul id="sortable" class="list-unstyled" *ngFor="let i of tasksList">
                    <li class="ui-state-default" *ngIf="i.project==projectId">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" /> {{i.description}}</label>
                        </div>
                    </li>
                   
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="todolist">
             <h1>Already Done</h1>
                <ul id="done-items" class="list-unstyled">
                    <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>