<div class="container-sm bg-light mt-4">
<h1>Create project</h1>
<form (submit)="addNewProject(addNewForum)" #addNewForum="ngForm">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="ProjectName" class="form-label">Project Name</label>
                <input type="text" class="form-control" required name="project_name" ngModel>
            </div>
        </div>
        <div class="col">
            <label for="ProjectDescription">Project description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" required name="project_description" ngModel></textarea>
          </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="ProjectStatus" class="form-lable">Status</label>
            <select type="text" class="form-control" required name="project_status" ngModel>
                <option>New</option>
                <option>Completed</option>
                <option>Pending</option>
                <option>Closed</option>
            </select>
        </div>
            <div class="col">
                <label for="ProjectDuration" class="form-lable">Progress</label>
                <select type="text" class="form-control" required name="project_progress" ngModel>
                    <option>0%</option>
                    <option>25%</option>  
                    <option>50%</option>  
                    <option>75%</option>  
                    <option>100%</option>    
                </select>
            </div>
    </div>
    <div class="row ">
        <div class="col">
            <label for="ProjectCategory" class="form-lable">Project start date</label>
            <div class="input-group ">
                <input type="text" class="form-control  " placeholder="yyyy-mm-dd" ngbDatepicker #startDate="ngbDatepicker" required name="project_startDate" ngModel/>
                <span class="input-group-text" (click)="startDate.open()"><i class="bi bi-calendar-check"></i></span>
            </div>
        </div>
            <div class="col">
                <label for="ProjectDuration" class="form-lable">Project end date</label>
                <div class="input-group ">
                    <input type="text" class="form-control  " placeholder="yyyy-mm-dd" ngbDatepicker #endDate="ngbDatepicker" required name="project_endDate" ngModel/>
                    <span class="input-group-text" (click)="endDate.open()"><i class="bi bi-calendar-check"></i></span>
                </div>
            </div>
        <div class="col">
            <label for="ProjectPeoples" class="form-lable">Peoples</label>
            <select type="text" class="form-control" required name="project_peoples" ngModel>
                <option>Artūras</option>
                <option>Jonas</option>
                <option>Kęstutis</option>
                <option>Dinara</option>
            </select>
        </div>
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>